<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".ttf" />
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".less" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="font/opentype" />
      <mimeMap fileExtension=".ttf" mimeType="font/opentype" />
      <mimeMap fileExtension=".less" mimeType="application/less" />
      <!--  <mimeMap fileExtension=".mp4" mimeType="video/mpeg" /> -->
    </staticContent>
  </system.webServer>
</configuration>